<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Admin Control Panel</title>
    <link th:href="@{/css/adminhome.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/adminhome2.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/logoutbutton.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand">
                        <img src="images/schoolicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        School Management
                    </a></li>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="/students">Students</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">TimeTable</a></li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Send Email</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="/results">Students progress
                        </a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="/parents">Parents
                        </a></li>

                    <form class="form-inline">
                        <input type="search" class="form-control" placeholder="Search" id="fieldKeyword"/>
                        <button class="btn btn-primary m-2" id="buttonSearch">Search</button>
                    </form>


                    <li class="nav-item"><a class="nav-link" href="/logout"><img src="images/logouticon.png" width="30"
                                                                                 height="30"/></a></li>


                </ul>
            </ul>
        </nav>
    </div>
    <br>

    <div align="center">

        <h3>CLASSTEACHER'S PAGE</h3>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>GSM</th>
                    <th>My Working Days</th>
                    <th>Parents Contact</th>


                </tr>
                </thead>

                <tbody>
                <tr th:object="${classTeacher}">
                    <td th:text="*{email}"></td>
                    <td th:text="*{phoneNumber}"></td>
                    <td th:text="*{myWorkingDays}"></td>
                    <td th:text="*{parentsContact}"></td>


                </tr>
                </tbody>
            </table>
            <br>


            <a th:href="@{/classTeacher/{classTeacher_id}(classTeacher_id=${classTeacher.id})}"> </a>

        </div>

        <main>
            <header>
                <div class="content-wrap">
                    <h1 id="para1">Liz Trass</h1>
                    <p class="center">Here is school contact information:</p>
                    <p class="center">
                    <ul>
                        <li>Phone: +32 49 4 99 03 66</li>
                        <li>Pijlstraat 1, 2060 Antwerpen</li>
                    </ul>
                    </p>
                    <div class="content-wrap">
                        <h3>What I Teach</h3>
                        <p>I specailaize in teaching IT lessons. <br>
                            Currently I'm a classteacher of 2AC.</p>
                        </p>
                        <br>

                        <IMG SRC="https://cdn.dribbble.com/users/77598/screenshots/5919494/dribbble.png" WIDTH=200
                             HEIGHT=200>
                        <BR> <BR>

                    </div>
                </div>

                <footer>
                    <div class="text-center m-3">
                        <h8> MCopyright &copy; SmartSchoolApp.</h8>
                    </div>

                </footer>
            </header>
        </main>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/logoutbutton.js}"></script>
</body>
<script type="text/javascript">
$(document).ready(new function(){
$("#buttonSearch").on("click", function(e){
keyword =$("#fieldKeyword").val();
alert("Keyword: "+ keyword);}); });


</script>

</html>