<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">

<title>Registration and Login App</title>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/login/postLogin}" method="post">
                <div class="mb-4 text-center">
                    <h1 class="h3" style="color:#032cfc;"> School management</h1>
                </div>
                <a href="/">Go Back</a>

                <!-- error message -->
              <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid username or
              password.
          </div>
      </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out</div>
                </div>


                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="email" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" name="password" class="form-control"
                           placeholder="Enter password"/>
                </div>

                <div class="form-group">
                    <laber for="role">sign-In As</laber>
                    <select name="role" id="role" class="form-control">
                        <option value="classTeacher">ClassTeacher</option>
                        <option value="student">Student</option>
                        <option value="parent">Parent</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="log in"/>
                        </div>

                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>