<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome PARENT PAGE</title>
    <link th:href="@{/css/parent.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/adminhome2.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body>

<header class="header">
    <a href="" class="logo"> <img src="images/schoolicon.png" width="30" height="30" class="d-inline-block align-top" alt="">School Management</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
   
</header>


<br><br>




<a th:href="@{/parent/{parent_id}(parent_id=${parent.id})}"></a>




<navbar class="menu">
    <ul class="list">
        <li class="list__item"><a class="list__link" href="/">HOME</a></li>
        <li class="list__item"><a class="list__link" href="results">My child's Results</a></li>
        <li class="list__item"><a class="list__link" href="/timetable">School Agenda</a></li>
      <!--  <li class="list__item"><a class="list__link" href="/students">My child</a></li>!-->

        <li class="list__item dropbtn">
            <a class="list__link" href="#">CONTACT<i class="list__icon fa fa-caret-down"></i></a>
            <div class="list__dropdown-content">
                <a href="/contact" class="list__link list__link_drop">Send Email</a>
                <a href="#" class="list__link list__link_drop">Make appointment</a>

            </div>
        </li>
        <br>

  <!-- <form method="get" th:action=@{/parent/{c}(c=${parent.student_id})}>
</form>!-->


        <li class="list__item"><a class="list__link link_padding" href="/logout">Logout</a></li>
    </ul>
</navbar>


    </ul>
</navbar>
<div class="container">
<div id="mainbox">
    <h2 class="" id="title">PARENT'S INFO:</h2>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>My ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Relation</th>
            <th>Student ID</th>


        </tr>
        </thead>

        <tbody>
        <tr th:object="${parent}">
            <td th:text="*{id}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{relation}"></td>
            <td th:text="*{student.id}"></td>


        </tr>
        </tbody>
    </table>

</div>

</div>

    </div>
</body>
</html>